body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #313131;
}

.center {
  max-width: 70%;
  margin: 0 auto;
}

.card-list-container {
  padding: 50px;
  display: grid;
  gap: 30px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #111111;
}
